{% extends 'home/admin/index.html' %}
{% load static %}
{% block title %}
    <title>Message List</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <style>


        #UserTable_length {
            left: 20px;
            position: absolute;
        }

        #UserTable_filter {
            width: 50%;
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>

    <div class="ui right aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Message List
                </div>

            </div>
            <div class="ui tab " data-tab="user">

                <div class="row" style="padding-left: 5px; padding-right: 5px">
                    <div class="wide">

                        <table class="ui unstackable tiny sortable celled very nowrap very compact table" id="UserTable"
                               style="margin-top: 5px;width: 100%">
                            <thead>
                            <tr>
                                <th>Party Name</th>
                                <th>PhoneNumber</th>
                                <th>Message</th>
                                <th>Datetime</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>


                </div>


            </div>
        </div>
    </div>
        <div class="ui mini modal" id="imgModal">
        <div class="header">
            ReSend Message
        </div>
        <div class="content">
            <p>Are you sure you want to send message?</p>
        </div>
        <input type="hidden" id="approveCollectionID">
        <div class="actions">
            <div class="ui negative button">
                No
            </div>
            <button class="ui green right labeled icon button saveBtn" onclick="confirmApproval()">
                Yes
                <i class="checkmark icon"></i>
            </button>
            <button style="display: none;" class="ui teal right labeled icon button saveBtnLoad">
                Saving ....
                <i class="checkmark icon"></i>
            </button>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        var userTab;

        function ResendMsg(id) {
            $('#imgModal').modal('show');
            $('#approveCollectionID').val('' + id);
        }


        function EditUser() {
            $('')
        }


        // user Details

        userTab = $('#UserTable').DataTable({
            dom: 'Blfrtip',
            "scrollY": "450px",
            "scrollX": true,
            stateSave: true,
            fixedColumns: {
                right: 1
            },
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [0, 1, 2,3,4]
                }
            }
                {% comment %}      , {
                          extend: 'print',
                          exportOptions: {
                               columns: [1, 2, 3, 4, 5, 6, 7, 8]
                          }
                      }{% endcomment %}
            ],
            "columnDefs": [
                {"name": "messageTo", "targets": 0, "orderable": true},
                {"name": "phone", "targets": 1, "orderable": true},
                {"name": "message", "targets": 2, "orderable": true},
                {"name": "datetime", "targets": 3, "orderable": true},
                {"name": "status", "targets": 4, "orderable": true}


            ],
            aaSorting: [[3, 'desc']],
            "lengthMenu": [[ 15, 30, 100, -1], [15, 30, 100, "All"]],
            "pageLength": 15,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'homeApp:MessageListJson' %}"
        });

        function confirmApproval() {
            showLoading();
            var id = $('#approveCollectionID').val();
            var formdata = new FormData();
            formdata.append('userID', id);

            $.ajax({
                url: "{% url 'homeApp:re_send_message_sales' %}",
                type: "post",
                data: formdata,
                contentType: false,
                cache: false,
                processData: false,

                success: function (response) {
                    if (response.message === 'success') {
                        $('body')
                            .toast({
                                class: 'success',
                                message: 'Message sent Successfully.'
                            })
                        ;

                        $('#imgModal').modal('hide');
                        userTab.ajax.reload(null, false);
                        hideLoading();
                    } else {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                        $('#imgModal').modal('hide');
                        hideLoading();
                    }

                    return response;
                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                    hideLoading();
                }

            });

        }


    </script>

{% endblock %}