version: '3.8'

services:
  web:
    build: .
    working_dir: /app
    command: bash -c " python manage.py collectstatic --noinput && gunicorn --bind 0.0.0.0:8000 baani.wsgi:application"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_data:/app/media
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=baani.settings
      - DEBUG=True
      - DB_HOST=host.docker.internal
      - MEDIA_ROOT=/app/media

volumes:
  static_volume:
  media_data:

