{% extends 'home/admin/index.html' %}
{% block title %}
    <title>Activation Expires</title>
{% endblock %}
{% block nav %}

{% endblock %}
{% block body %}




    <div class=" ui center aligned basic segment grid">
        <div class="column">


            <div class="ui message">
                <div class="ui icon message">
                    <i class="notched exclamation triangle red loading icon"></i>
                    <div class="content">
                        <div class="header ">
                            <span class="ui red text"> Activation Expires!!</span>
                        </div>
                        <p>Please Contact Us for Further Details.</p>
                    </div>
                </div>
                <strong>Contact us at</strong> <a href="https://zivainfotech.com/" target="_blank">Ziva Infotech</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}