{% extends 'home/admin/index.html' %}
{% load static %}
{% block title %}
    <title>Party</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <style>


        #UserTable_length {
            left: 20px;
            position: absolute;
        }

        #UserTable_filter {
            width: 50%;
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>

    <div class="ui right aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Party List
                </div>
                <div style=" position: absolute;right: 1.5rem;top: 18px;">
                    <button class="ui green mini plus button right" onclick="showUserModal()">
                        <i class="plus square outline icon"></i>
                        Add Party
                    </button>
                </div>
            </div>
            <div class="ui tab " data-tab="user">

                <div class="row" style="padding-left: 5px; padding-right: 5px">
                    <div class="wide">

                        <table class="ui unstackable tiny sortable celled very nowrap very compact table" id="UserTable"
                               style="margin-top: 5px;width: 100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>PhoneNumber</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>PartyGroup/Station</th>
                                <th>AssignedTo/Staff</th>
                                <th>Added On</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="ui modal" id="myModalUser">
                        <i class="close icon"></i>
                        <div class="header">
                            Add Party
                        </div>
                        <div class="content">

                            <form class="ui tiny form" id="addForm">{% csrf_token %}
                                <div class="two required fields">
                                    <div class=" field">
                                        <label>Party Name</label>
                                        <input type="text" name="partyName" placeholder="Party Name" id="partyName">
                                    </div>
                                    <div class=" field">
                                        <label>Phone Number</label>
                                        <input type="number" name="phoneNumber" placeholder="Phone Number"
                                               id="phoneNumber">
                                    </div>


                                </div>

                                <div class="two fields">
                                    {% comment %}<div class="sixteen wide field required">
                                        <label>Address</label>
                                        <input type="text" name="address" placeholder="Address"
                                               id="address">
                                    </div>{% endcomment %}
                                    <div class="field required">
                                        <label>Party Group/Station</label>
                                        <select class="ui fluid search clearable dropdown" id="partyGroup">
                                            <option value="" hidden>Party Group/Station/Address</option>
                                            {% for group in party_groups %}
                                                <option value="{{ group.id }}">{{ group.name|capfirst }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                    <div class="field required">
                                        <label>Assign To (Staff)</label>
                                        <select class="ui fluid search clearable dropdown" id="staffID">
                                            <option value="" hidden>Assign To</option>
                                            {% for staff in staffs %}
                                                <option value="{{ staff.id }}">{{ staff.name|capfirst }}
                                                    - {{ staff.partyGroupID.name|capfirst }}  </option>
                                            {% endfor %}


                                        </select>
                                    </div>

                                </div>


                            </form>

                            <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
                                <div class="ui cancel button">Cancel</div>
                                <button class="ui right labeled icon button green saveBtn" onclick="addUser()">
                                    Submit
                                    <i class="checkmark icon"></i>
                                </button>
                                <button style="display: none" class="ui right labeled icon button green saveBtnLoad" >
                                    Saving ...
                                    <i class="checkmark icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui basic modal custom" id="deleteUser">
                    <div class="ui icon header">
                        <i class="archive icon"></i>
                        Party Details will be Deleted
                    </div>
                    <div class="content">
                        <p style="text-align: center">The Party will be deleted, are you sure to delete this
                            Party?</p>
                    </div>
                    <div class="actions">
                        <div class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            No
                        </div>
                        <input type="hidden" id="UserID">
                        <div class="ui green ok inverted button" onclick="deleteUser()">
                            <i class="checkmark icon"></i>
                            Yes
                        </div>
                    </div>
                </div>

                <div class="ui modal" id="userModal">
                    <i class="close icon"></i>
                    <div class="header">
                        Edit Party Details
                    </div>
                    <div class="content">

                        <form class="ui tiny form" id="EditForm">{% csrf_token %}
                            <div class="two required fields">
                                <div class=" field">
                                    <label>Party Name</label>
                                    <input type="text" name="partyNameEdit" placeholder="Party Name" id="partyNameEdit">
                                </div>
                                <div class=" field">
                                    <label>Phone Number</label>
                                    <input type="number" name="phoneNumberEdit" placeholder="Phone Number"
                                           id="phoneNumberEdit">
                                </div>
                                {% comment %}   <div class="field required">
                                    <label>Party Group</label>
                                    <select class="ui fluid dropdown" id="partyGroupEdit">
                                        <option value="" hidden>Party Group</option>
                                        {% for group in party_groups %}
                                            <option value="{{ group.id }}">{{ group.name|capfirst }}</option>
                                        {% endfor %}


                                    </select>
                                </div>{% endcomment %}

                            </div>

                            <div class="two fields">
                                {% comment %}      <div class="sixteen wide field required">
                                    <label>Address</label>
                                    <input type="text" name="addressEdit" placeholder="Address"
                                           id="addressEdit">
                                </div>{% endcomment %}
                                <div class="field required">
                                    <label>Party Group/Station</label>
                                    <select class="ui fluid search clearable dropdown" id="partyGroupEdit">
                                        <option value="" hidden>Party Group/Station/Address</option>
                                        {% for group in party_groups %}
                                            <option value="{{ group.id }}">{{ group.name|capfirst }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="field required">
                                    <label>Assign To (Staff)</label>
                                    <select class="ui fluid search clearable dropdown" id="staffIDEdit">
                                        <option value="" hidden>Assign To</option>
                                        {% for staff in staffs %}
                                            <option value="{{ staff.id }}">{{ staff.name|capfirst }}
                                                - {{ staff.partyGroupID.name|capfirst }}  </option>
                                        {% endfor %}


                                    </select>
                                </div>

                            </div>


                            <input type="hidden" id="EditId">
                        </form>

                        <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
                            <div class="ui cancel button">Cancel</div>
                            <button class="ui right labeled icon button green saveBtn" onclick="editUser()">
                                Update
                                <i class="checkmark icon"></i>
                            </button>
                            <button style="display: none" class="ui right labeled icon button green saveBtnLoad" >
                                    Saving ...
                                    <i class="checkmark icon"></i>
                                </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        var userTab;


        function showUserModal() {
            $('#myModalUser').modal('show');
            myOwnReset();
        }

        function EditUser() {
            $('')
        }

        function addUser() {
            showLoading();
            var partyName = $('#partyName').val();
            var phoneNumber = $('#phoneNumber').val();
            var partyGroup = $('#partyGroup').val();
            var staffID = $('#staffID').val();
            {#var address = $('#address').val();#}


            if (partyName === '' || phoneNumber === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: '* fields are required.'
                    })
                ;
                hideLoading();
            } else {

                var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

                data = new FormData();
                data.append('partyName', partyName);
                data.append('phoneNumber', phoneNumber);
                data.append('partyGroup', partyGroup);
                data.append('staffID', staffID);
                {#data.append('address', address);#}


                data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);


                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:add_party_api" %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'New Party Added Successfully.'
                                })
                            ;


                            userTab.ajax.reload(null, false);
                            $('#addForm').trigger('reset');
                            $('#myModalUser').modal('toggle');
                            hideLoading();
                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;
                            hideLoading();

                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                        hideLoading();
                    }
                });


            }

        }


        // user Details

        userTab = $('#UserTable').DataTable({
            dom: 'Blfrtip',
            "scrollY": "350px",
            "scrollX": true,
            {#stateSave: true,#}
            fixedColumns: {
                left: 1,
                right: 1
            },
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6]
                }
            }
                {% comment %}      , {
                          extend: 'print',
                          exportOptions: {
                               columns: [1, 2, 3, 4, 5, 6, 7, 8]
                          }
                      }{% endcomment %}
            ],
            "columnDefs": [
                {"name": "name", "targets": 0, "orderable": true},
                {"name": "phone", "targets": 1, "orderable": true},
                {"name": "username", "targets": 2, "orderable": true},
                {"name": "password", "targets": 3, "orderable": true},
                {"name": "partyGroupID.name", "targets": 4, "orderable": true},
                {"name": "assignTo.name", "targets": 5, "orderable": true},
                {"name": "datetime", "targets": 6, "orderable": true},
                {"name": "action", "targets": 7, "orderable": false}

            ],
            aaSorting: [[0, 'asc']],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'homeApp:PartyListJson' %}"
        });

        function copyToClipboard(text) {
            if (navigator.clipboard && window.isSecureContext) {
                return navigator.clipboard.writeText(text);
            } else {
                return new Promise(function (resolve, reject) {
                    var textArea = document.createElement("textarea");
                    textArea.value = text;
                    textArea.style.position = "fixed";
                    textArea.style.left = "-999999px";
                    document.body.appendChild(textArea);
                    textArea.focus();
                    textArea.select();
                    try {
                        document.execCommand('copy');
                        textArea.remove();
                        resolve();
                    } catch (err) {
                        textArea.remove();
                        reject(err);
                    }
                });
            }
        }

        $(document).on('click', '.copy-btn', function () {
            var text = $(this).attr('data-copy');
            if (!text) {
                return;
            }
            copyToClipboard(text).then(function () {
                $('body')
                    .toast({
                        class: 'success',
                        message: 'Copied to clipboard.'
                    });
            }).catch(function () {
                $('body')
                    .toast({
                        class: 'error',
                        message: 'Unable to copy.'
                    });
            });
        });


        function delUser(id) {
            $('#deleteUser')
                .modal('show')
            ;
            $('#UserID').val(id)
        }

        function deleteUser() {
            var id = $('#UserID').val();
            var formdata = new FormData();
            formdata.append('userID', id);

            $.ajax({
                url: "{% url 'homeApp:delete_party' %}",
                type: "post",
                data: formdata,
                contentType: false,
                cache: false,
                processData: false,

                success: function (response) {
                    if (response.message === 'success') {
                        $('body')
                            .toast({
                                class: 'success',
                                message: 'Party Detail Deleted Successfully.'
                            })
                        ;


                        userTab.ajax.reload(null, false);
                    } else {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;

                    }

                    return response;
                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });

        }

        function GetUserDetails(id) {
            myOwnReset();
            $('#userModal').modal('show');
            $.ajax({
                type: 'get',
                url: '{% url "homeApp:get_party_detail"%}?id=' + id,
                success: function (response) {
                    console.log(response)
                    $('#EditId').val(response.data['ID']);
                    $('#partyNameEdit').val(response.data['Name']);
                    $('#phoneNumberEdit').val(response.data['PhoneNumber']);
                    $('#addressEdit').val(response.data['Address']);
                    $('#partyGroupEdit').val(response.data['PartyGroup']).change();
                    $('#staffIDEdit').val(response.data['AssignTo']).change();


                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });
        }

        function editUser() {
            showLoading();
            var EditId = $('#EditId').val();
            var partyName = $('#partyNameEdit').val();
            var phoneNumber = $('#phoneNumberEdit').val();
            {#var address = $('#addressEdit').val();#}
            var partyGroup = $('#partyGroupEdit').val();
            var staffID = $('#staffIDEdit').val();


            if (partyName === '' || phoneNumber === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: '* fields are required.'
                    })
                ;
                hideLoading();
            } else {

                var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

                data = new FormData();
                data.append('partyGroup', partyGroup);
                {#data.append('address', address);#}
                data.append('phoneNumber', phoneNumber);
                data.append('partyName', partyName);
                data.append('staffID', staffID);
                data.append('EditId', EditId);
                data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);

                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:edit_party_api" %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'Party detail updated Successfully.'
                                })
                            ;


                            userTab.ajax.reload(null, false);
                            $('#EditForm').trigger('reset');
                            $('#userModal').modal('toggle');
                            hideLoading();
                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;
                            hideLoading();

                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                        hideLoading();
                    }
                });


            }
        }


    </script>

{% endblock %}
