{% extends 'home/admin/index.html' %}
{% load static %}
{% block title %}
    <title>Products</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <style>


        #UserTable_length {
            left: 20px;
            position: absolute;
        }

        #UserTable_filter {
            width: 50%;
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>

    <div class="ui right aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Product List
                </div>
                <div style=" position: absolute;right: 1.5rem;top: 18px;">
                    <button class="ui green mini plus button right" onclick="showUserModal()">
                        <i class="plus square outline icon"></i>
                        Add Product
                    </button>
                </div>
            </div>
            <div class="ui tab " data-tab="user">

                <div class="row" style="padding-left: 5px; padding-right: 5px">
                    <div class="wide">

                        <table class="ui unstackable tiny sortable celled very nowrap very compact table" id="UserTable"
                               style="margin-top: 5px;width: 100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Stock</th>
                                <th>Unit</th>
                                <th>Category</th>
                                <th>Brand</th>
                                <th>CP(₹)</th>
                                <th>MRP(₹)</th>
                                <th>SP(₹)</th>
                                <th>Added On</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="ui modal" id="myModalUser">
                        <i class="close icon"></i>
                        <div class="header">
                            Add Product
                        </div>
                        <div class="content">

                            <form class="ui tiny form" id="addForm">{% csrf_token %}
                                <div class="one required fields">
                                    <div class="sixteen wide field">
                                        <label>Product Name</label>
                                        <input type="text" name="Name" placeholder="Product Name" id="productName">
                                    </div>

                                </div>

                                <div class="two fields">
                                    <div class="field required">
                                        <label>Stock Available</label>
                                        <input type="number" name="stock" id="stock" placeholder="Stock Available">
                                    </div>
                                    <div class="field">
                                        <label>Unit</label>
                                        <select class="ui fluid dropdown" id="unit">
                                            {% for unit in units %}
                                                <option value="{{ unit.name }}">{{ unit.name|capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field required">
                                        <label>Category</label>
                                        <select class="ui fluid dropdown" id="category">
                                            {% for category in categories %}
                                                <option value="{{ category.name }}">{{ category.name|capfirst }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>

                                    <div class="field required">
                                        <label>Brand</label>
                                        <select class="ui fluid dropdown" id="brand">
                                            {% for brand in brands %}
                                                <option value="{{ brand.name }}">{{ brand.name|capfirst }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="three fields">
                                    <div class="field required">
                                        <label>Cost Price(₹)</label>
                                        <input type="number" name="cp" id="cp" placeholder="Cost Price">
                                    </div>
                                    <div class="field required">
                                        <label>MRP(₹)</label>
                                        <input type="number" name="mrp" id="mrp" placeholder="MRP">
                                    </div>
                                    <div class="field required">
                                        <label>Selling Price(₹)</label>
                                        <input type="number" name="sp" id="sp" placeholder="Selling Price">
                                    </div>

                                </div>


                            </form>

                            <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
                                <div class="ui cancel button">Cancel</div>
                                <button class="ui right labeled icon button green" onclick="addUser()">
                                    Submit
                                    <i class="checkmark icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui basic modal custom" id="deleteUser">
                    <div class="ui icon header">
                        <i class="archive icon"></i>
                        Product Details will be Deleted
                    </div>
                    <div class="content">
                        <p style="text-align: center">The Product will be deleted, are you sure to delete this
                            Product?</p>
                    </div>
                    <div class="actions">
                        <div class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            No
                        </div>
                        <input type="hidden" id="UserID">
                        <div class="ui green ok inverted button" onclick="deleteUser()">
                            <i class="checkmark icon"></i>
                            Yes
                        </div>
                    </div>
                </div>

                <div class="ui modal" id="userModal">
                    <i class="close icon"></i>
                    <div class="header">
                        Edit Product Details
                    </div>
                    <div class="content">

                        <form class="ui tiny form" id="EditForm">{% csrf_token %}
                            <div class="one required fields">
                                <div class="sixteen wide field">
                                    <label>Product Name</label>
                                    <input type="text" name="Name" placeholder="Product Name" id="productNameEdit">
                                </div>

                            </div>

                            <div class="two fields">
                                <div class="field required">
                                    <label>Stock Available</label>
                                    <input type="number" name="stock" id="stockEdit" placeholder="Stock Available">
                                </div>
                                <div class="field">
                                    <label>Unit</label>
                                    <select class="ui fluid dropdown" id="unitEdit">
                                        {% for unit in units %}
                                            <option value="{{ unit.name }}">{{ unit.name|capfirst }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field required">
                                    <label>Category</label>
                                    <select class="ui fluid dropdown" id="categoryEdit">
                                        {% for category in categories %}
                                            <option value="{{ category.name }}">{{ category.name|capfirst }}</option>
                                        {% endfor %}

                                    </select>
                                </div>

                                <div class="field required">
                                    <label>Brand</label>
                                    <select class="ui fluid dropdown" id="brandEdit">
                                        {% for brand in brands %}
                                            <option value="{{ brand.name }}">{{ brand.name|capfirst }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field required">
                                    <label>Cost Price(₹)</label>
                                    <input type="number" name="cp" id="cpEdit" placeholder="Cost Price">
                                </div>
                                <div class="field required">
                                    <label>MRP(₹)</label>
                                    <input type="number" name="mrp" id="mrpEdit" placeholder="MRP">
                                </div>
                                <div class="field required">
                                    <label>Selling Price(₹)</label>
                                    <input type="number" name="sp" id="spEdit" placeholder="Selling Price">
                                </div>

                            </div>


                            <input type="hidden" id="EditUserId">
                        </form>

                        <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
                            <div class="ui cancel button">Cancel</div>
                            <button class="ui right labeled icon button green" onclick="editUser()">
                                Update
                                <i class="checkmark icon"></i>
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        var userTab;


        function showUserModal() {
            $('#myModalUser').modal('show');
        }

        function EditUser() {
            $('')
        }

        function addUser() {

            var productName = $('#productName').val();
            var stock = $('#stock').val();
            var unit = $('#unit').val();
            var category = $('#category').val();
            var brand = $('#brand').val();
            var cp = $('#cp').val();
            var mrp = $('#mrp').val();
            var sp = $('#sp').val();


            if (productName === '' || stock === '' || mrp === '' ||
                unit === '' || category === '' || brand === '' || cp === '' || sp === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: '* fields are required.'
                    })
                ;
            } else {

                var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

                data = new FormData();
                data.append('productName', productName);
                data.append('stock', stock);
                data.append('unit', unit);
                data.append('category', category);
                data.append('brand', brand);
                data.append('cp', cp);
                data.append('mrp', mrp);
                data.append('sp', sp);


                data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);


                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:add_product_api" %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'New Product Added Successfully.'
                                })
                            ;


                            userTab.ajax.reload();
                            $('#addForm').trigger('reset');
                            $('#myModalUser').modal('toggle');
                        } else {
                            $('body')
                                .toast({
                                        class: 'error',
                                        message: 'An error occurred !'
                                    })
                                ;

                            }

                            return response;
                        },
                        error: function () {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;
                        }
                    });


            }

        }


        // user Details

        userTab = $('#UserTable').DataTable({
            dom: 'Blfrtip',
            "scrollY": "350px",
            "scrollX": true,
            fixedColumns: {
                left: 1,
                right: 1
            },
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                }
            }
                {% comment %}      , {
                          extend: 'print',
                          exportOptions: {
                               columns: [1, 2, 3, 4, 5, 6, 7, 8]
                          }
                      }{% endcomment %}
            ],
            "columnDefs": [
                {"name": "name", "targets": 0, "orderable": true},
                {"name": "stock", "targets": 1, "orderable": true},
                {"name": "unitID", "targets": 2, "orderable": true},
                {"name": "categoryID", "targets": 3, "orderable": true},
                {"name": "brandID", "targets": 4, "orderable": true},
                {"name": "cp", "targets": 5, "orderable": true},
                {"name": "mrp", "targets": 6, "orderable": true},
                {"name": "sp", "targets": 7, "orderable": true},
                {"name": "datetime", "targets": 8, "orderable": true},
                {"name": "action", "targets": 9, "orderable": false}

            ],
            aaSorting: [[8, 'desc']],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'homeApp:ProductListJson' %}"
        });


        function delUser(id) {
            $('#deleteUser')
                .modal('show')
            ;
            $('#UserID').val(id)
        }

        function deleteUser() {
            var id = $('#UserID').val();
            var formdata = new FormData();
            formdata.append('userID', id);

            $.ajax({
                url: "{% url 'homeApp:delete_product' %}",
                type: "post",
                data: formdata,
                contentType: false,
                cache: false,
                processData: false,

                success: function (response) {
                    if (response.message === 'success') {
                        $('body')
                            .toast({
                                class: 'success',
                                message: 'Product Detail Deleted Successfully.'
                            })
                        ;


                        userTab.ajax.reload();
                    } else {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;

                    }

                    return response;
                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });

        }

        function GetUserDetails(id) {
            $('#userModal').modal('show');
            $.ajax({
                type: 'get',
                url: '{% url "homeApp:get_product_detail"%}?id=' + id,

                success: function (response) {
                    console.log(response);
                    $('#EditUserId').val(response.data['ID']);
                    $('#productNameEdit').val(response.data['ProductName']);
                    $('#stockEdit').val(response.data['Stock']);
                    $('#unitEdit').val(response.data['Unit']).change();
                    $('#categoryEdit').val(response.data['Category']).change();
                    $('#brandEdit').val(response.data['Brand']).change();
                    $('#cpEdit').val(response.data['CP'])
                    $('#mrpEdit').val(response.data['MRP']);
                    $('#spEdit').val(response.data['SP']);


                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });
        }

        function editUser() {

            var EditUserId = $('#EditUserId').val();
            var productName = $('#productNameEdit').val();
            var stock = $('#stockEdit').val();
            var unit = $('#unitEdit').val();
            var category = $('#categoryEdit').val();
            var brand = $('#brandEdit').val();
            var cp = $('#cpEdit').val();
            var mrp = $('#mrpEdit').val();
            var sp = $('#spEdit').val();


            if (productName === '' || stock === '' || mrp === '' ||
                unit === '' || category === '' || brand === '' || cp === '' || sp === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: '* fields are required.'
                    })
                ;
            } else {

                var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

                data = new FormData();
                data.append('productName', productName);
                data.append('stock', stock);
                data.append('unit', unit);
                data.append('category', category);
                data.append('brand', brand);
                data.append('cp', cp);
                data.append('mrp', mrp);
                data.append('sp', sp);
                data.append('EditUserId', EditUserId);


                data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);


                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:edit_product_api" %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'Product detail updated Successfully.'
                                })
                            ;


                            userTab.ajax.reload();
                            $('#EditForm').trigger('reset');
                            $('#userModal').modal('toggle');
                        } else {
                            $('body')
                                .toast({
                                        class: 'error',
                                        message: 'An error occurred !'
                                    })
                                ;

                            }

                            return response;
                        },
                        error: function () {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;
                        }
                    });


            }
        }


    </script>

{% endblock %}