{% extends 'home/admin/index.html' %}
{% load static %}
{% block title %}
    <title>Purchase</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <style>


        #UserTable_length {
            left: 20px;
            position: absolute;
        }

        #UserTable_filter {
            width: 50%;
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>

    <div class="ui right aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Purchase List
                </div>
                <div style=" position: absolute;right: 1.5rem;top: 18px;">
                    <a href="{% url 'homeApp:purchase_add' %}" class="ui green mini plus button right">
                        <i class="plus square outline icon"></i>
                        Add Purchase
                    </a>
                </div>
            </div>
            <div class="ui tab " data-tab="user">

                <div class="row" style="padding-left: 5px; padding-right: 5px">
                    <div class="wide">

                        <table class="ui unstackable tiny sortable celled very nowrap very compact table" id="UserTable"
                               style="margin-top: 5px;width: 100%">
                            <thead>
                            <tr>
                                <th>Supplier</th>
                                <th>InvoiceNo.(₹)</th>
                                <th>InDate(₹)</th>
                                <th>SubTotal(₹)</th>
                                <th>GST(₹)</th>
                                <th>OtherCharges(₹)</th>
                                <th>RoundOff(₹)</th>
                                <th>GrandTotal(₹)</th>
                                <th>Added On</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="ui basic modal custom" id="deleteUser">
                    <div class="ui icon header">
                        <i class="archive icon"></i>
                        Purchase Details will be Deleted
                    </div>
                    <div class="content">
                        <p style="text-align: center">The Purchase will be deleted, are you sure to delete this
                            Purchase?</p>
                    </div>
                    <div class="actions">
                        <div class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            No
                        </div>
                        <input type="hidden" id="UserID">
                        <div class="ui green ok inverted button" onclick="deleteUser()">
                            <i class="checkmark icon"></i>
                            Yes
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="ui overlay fullscreen modal front transition scrolling">
        <div class="header">
            Purchase <span class="ui teal text">Detail.</span>
        </div>
        <div class="content" style="padding-top: 0!important;">
            <div class="description">
                <div class="ui right aligned basic segment">
                    <table class="ui green unstackable table">
                        <tbody>
                        <tr>
                            <td>Supplier Name</td>
                            <td id="supplierDetail">N/A</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td id="phoneDetail">N/A</td>
                        </tr>
                        <tr>
                            <td>GST Number</td>
                            <td id="gstDetail">N/A</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td id="addressDetail">N/A</td>
                        </tr>
                        </tbody>
                    </table>

                    <h4 style="text-align: left">LIST OF PURCHASE ITEMS:</h4>
                    <div class="row" style="padding-bottom: 0!important;padding-top: 0!important;">
                        <div class="twelve wide column"
                             style="padding-top: 0!important;padding-bottom: 0; overflow-x: scroll">
                            <table class="ui  purple unstackable  table" id="itemTable">
                                <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Rate(₹)</th>
                                    <th>Gst %</th>
                                    <th>Total(₹)</th>
                                    <th>Net Total(₹)</th>
                                </tr>
                                </thead>
                                <tbody id="my_body">
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="actions">
            <div class="ui primary approve button">
                Close
                <i class="compress arrows alternate icon"></i>
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}
    <script>

        var userTab;


        function showUserModal() {
            $('#myModalUser').modal('show');
        }


        // user Details

        userTab = $('#UserTable').DataTable({
            dom: 'Blfrtip',
            "scrollY": "350px",
            "scrollX": true,
            fixedColumns: {
                left: 1,
                right: 1
            },
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5, 6, 7, 8]
                }
            }
                {% comment %}      , {
                          extend: 'print',
                          exportOptions: {
                               columns: [1, 2, 3, 4, 5, 6, 7, 8]
                          }
                      }{% endcomment %}
            ],
            "columnDefs": [
                {"name": "supplierName", "targets": 0, "orderable": true},
                {"name": "invoiceNumber", "targets": 1, "orderable": true},
                {"name": "invoiceDate", "targets": 2, "orderable": true},
                {"name": "taxableAmount", "targets": 3, "orderable": true},
                {"name": "gstAmount", "targets": 4, "orderable": true},
                {"name": "otherCharges", "targets": 5, "orderable": true},
                {"name": "roundOff", "targets": 6, "orderable": true},
                {"name": "grandTotal", "targets": 7, "orderable": true},
                {"name": "datetime", "targets": 8, "orderable": true},
                {"name": "action", "targets": 9, "orderable": false}

            ],
            aaSorting: [[8, 'desc']],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'homeApp:PurchaseListJson' %}"
        });


        function delUser(id) {
            $('#deleteUser')
                .modal('show')
            ;
            $('#UserID').val(id)
        }

        function deleteUser() {
            var id = $('#UserID').val();
            var formdata = new FormData();
            formdata.append('ID', id);

            $.ajax({
                url: "{% url 'homeApp:delete_purchase' %}",
                type: "post",
                data: formdata,
                contentType: false,
                cache: false,
                processData: false,

                success: function (response) {
                    if (response.message === 'success') {
                        $('body')
                            .toast({
                                class: 'success',
                                message: 'Purchase Detail Deleted Successfully.'
                            })
                        ;


                        userTab.ajax.reload();
                    } else {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;

                    }

                    return response;
                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });

        }


        function editUser() {

            var EditUserId = $('#EditUserId').val();
            var productName = $('#productNameEdit').val();
            var stock = $('#stockEdit').val();
            var unit = $('#unitEdit').val();
            var category = $('#categoryEdit').val();
            var brand = $('#brandEdit').val();
            var cp = $('#cpEdit').val();
            var mrp = $('#mrpEdit').val();
            var sp = $('#spEdit').val();


            if (productName === '' || stock === '' || mrp === '' ||
                unit === '' || category === '' || brand === '' || cp === '' || sp === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: '* fields are required.'
                    })
                ;
            } else {

                var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

                data = new FormData();
                data.append('productName', productName);
                data.append('stock', stock);
                data.append('unit', unit);
                data.append('category', category);
                data.append('brand', brand);
                data.append('cp', cp);
                data.append('mrp', mrp);
                data.append('sp', sp);
                data.append('EditUserId', EditUserId);


                data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);


                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:edit_product_api" %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'Product detail updated Successfully.'
                                })
                            ;


                            userTab.ajax.reload();
                            $('#EditForm').trigger('reset');
                            $('#userModal').modal('toggle');
                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;

                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                    }
                });


            }
        }


        function GetPurchaseDetail(id) {
            $.ajax({
                type: 'get',
                url: '/api/get_purchase_detail/' + id + '/',

                success: function (response) {
                    $('#itemTable tbody tr').remove();
                    $('#supplierDetail').html(response.data.Basic['Name']);
                    $('#gstDetail').html(response.data.Basic['Gst']);
                    $('#phoneDetail').html(response.data.Basic['Phone']);
                    $('#addressDetail').html(response.data.Basic['Address']);

                    var i;
                    for (i = 0; i < response.data.Items.length; i++) {
                        $('#itemTable tbody').append('<tr id ="' + response.data.Items[i]['ItemID'] + '" ><td id ="row' + response.data.Items[i]['ItemID'] + '">#</td> <td id ="product' + response.data.Items[i]['ItemID'] + '">' + response.data.Items[i]['ItemProductName'] + '</td><td id ="quantity' + response.data.Items[i]['ItemID'] + '">' + response.data.Items[i]['ItemQuantity'] + '</td><td id ="price' + response.data.Items[i]['ItemID'] + '">' + response.data.Items[i]['ItemRate'] + '</td><td id ="gst' + response.data.Items[i]['ItemID'] + '">' + response.data.Items[i]['ItemGst'] + '</td>><td id ="total' + response.data.Items[i]['ItemID'] + '">' + response.data.Items[i]['ItemTotal'] + '</td><td id ="netprice' + response.data.Items[i]['ItemnetRate'] + '">' + response.data.Items[i]['ItemnetRate'] + '</td</tr>');

                    }
                },

                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });
            $('.overlay.fullscreen.modal')
                .modal('show')
            ;

        }

    </script>

{% endblock %}