{% extends 'home/admin/index.html' %}
{% load static %}
{% block title %}
    <title>Add Sales</title>
{% endblock %}
{% block css %}
    <style>
        .avatar-upload {
            position: relative;
            max-width: 115px;
            margin: 5px auto;
        }

        .avatar-upload .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
        }

        .avatar-upload .avatar-edit input {
            display: none;
        }

        .avatar-upload .avatar-edit input + label {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-bottom: 0;
            border-radius: 100%;
            background: #FFFFFF;
            border: 1px solid transparent;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            font-weight: normal;
            transition: all 0.2s ease-in-out;
        }

        .avatar-upload .avatar-edit input + label:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
        }

        .avatar-upload .avatar-edit input + label:after {
            color: #757575;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;

        }

        .avatar-upload .avatar-preview {
            width: 100px;
            height: 100px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }

        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

    </style>
{% endblock %}
{% block body %}

    <div class="ui aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Add Sale
                </div>
            </div>
            <div class="ui tab " data-tab="user">

                <div class="ui row teal stacked segment padded">
                    <div class="content">

                        <form class="ui  small form " id="addForm">{% csrf_token %}
                            <div class="two fields">
                                <div class="eight wide field required">
                                    <label>Invoice Number</label>

                                    <div class="ui left labeled  input">
                                        <div class="ui dropdown teal label" id="invoiceSeries">
                                            <div class="text" id="invoiceSeriesSelect">BCS</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">BCS</div>
                                                <div class="item">BSS</div>
                                                <div class="item">ND</div>
                                            </div>
                                        </div>
                                        <input type="number" placeholder="Invoice Number" id="invoiceNo"
                                               name="invoiceNo">
                                        <div class="ui dropdown blue label" id="invoiceYear">
                                            <div class="text" id="invoiceYearSelect">22-23</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">22-23</div>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                                <div class="eight wide field required">
                                    <label>Build Date</label>
                                    <div class="ui calendar" id="cDate">
                                        <div class="ui input">
                                            <input type="text" placeholder="Date/Time" id="colDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="two  fields">
                                <div class="eight wide field required">
                                    <label>Party Name</label>
                                    <select class="ui clearable search dropdown" id="party">
                                        <option value="">Search By Party Name</option>
                                    </select>
                                </div>
                                 <div class="eight wide field required">
                                    <label>Amount (₹ <a class="ui violet label" id="money">0.0</a>
                                        )</label>
                                    <input type="number" name="amount" id="amount" placeholder="Amount"
                                            onkeyup="toIndianCurrency()">


                                </div>

                            </div>


                            <div class="one  fields ">

                                <div class="sixteen wide  field ">
                                    <label>Remark</label>
                                    <textarea name="" id="remark" placeholder="Any Remark"
                                              rows="3"></textarea>
                                </div>


                            </div>



                        </form>
                    </div>
                    <div class="ui  aligned basic  grid">
                        <div class="row" style="padding-left: 5px;padding-right: 5px">
                            <div class="16 wide column center aligned">
                                <button onclick="salesSave()" id="saveBtn" class="ui green  button saveBtn">
                                    Submit Detail
                                </button>
                                <button style="display: none;" class="ui teal double loading button saveBtnLoad">
                                    Saving ....
                                </button>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>


    </div>

    <input type="hidden" id="lat" value="24.809611">
    <input type="hidden" id="lng" value="93.935577">
    <input type="hidden" id="loc" value="N/A">

    <p id="demo"></p>


{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('.ui.dropdown').dropdown({fullTextSearch: true});
    </script>

    <script>
        var today = new Date();
        $('#cDate')
            .calendar({
                    initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
                    monthFirst: false,
                    type: 'date',
                    formatter: {
                        date: function (date, settings) {

                            if (!date) return '';
                            var day = String(date.getDate());
                            var month = String(date.getMonth() + 1);
                            var year = date.getFullYear();
                            {#                            return '{{ sale.invoiceDate|date:'d/m/Y' }}';#}
                            return day + '/' + month + '/' + year;
                        }
                    }
                }
            );



        function salesSave() {
            showLoading();
            var invoiceSeriesSelect = $('#invoiceSeriesSelect').html();
            var invoiceNo = $('#invoiceNo').val();
            var invoiceYearSelect = $('#invoiceYearSelect').html();
            var colDate = $('#colDate').val();
            var party = $('#party').val();
            var amount = $('#amount').val();
            var remark = $('#remark').val();


            debugger;

            if (party === '' || invoiceSeriesSelect === '' || invoiceNo === '' || invoiceYearSelect === ''|| colDate === ''|| amount === ''
            ) {
                $('body')
                    .toast({
                        class: 'orange',
                        message: '* fields are required !'
                    })
                ;
                hideLoading();
            } else {
                data = new FormData();
                data.append('invoiceSeriesSelect', invoiceSeriesSelect);
                data.append('invoiceNo', invoiceNo);
                data.append('invoiceYearSelect', invoiceYearSelect);
                data.append('colDate', colDate);
                data.append('party', party);
                data.append('amount', amount);
                data.append('remark', remark);

                $.ajax({
                    type: 'post',
                    url: '{% url 'homeApp:add_sales_by_admin_api' %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'Sales added Successfully.'
                                });

                            hideLoading();

                            location.href = "{% url 'homeApp:sales_list' %}"

                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;
                            hideLoading();
                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                        hideLoading();
                    }

                });


            }

        }


        $(getCustomerList());


        function getCustomerList() {
            $.ajax({
                type: 'get',
                url: "{% url 'homeApp:list_party_api' %}",

                success: function (response) {

                    $('#party').html('');
                    $('#party').append(' <option value="">Search By Party Name</option>');
                    var j;
                    for (j = 0; j < response.data.length; j++) {

                        $('#party').append('<option value="' + response.data[j]['Detail'] + '" >' + response.data[j]['DisplayDetail'] + '</option>');

                    }

                },

                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });


        }

        const toIndianCurrency = () => {
            let num = $('#amount').val();
            const curr = num.replace(/(\d)(?=(\d\d)+\d$)/g, "$1,")
            $('#money').html(curr);
        };
    </script>
{% endblock %}