{% extends 'home/collection/indexCollection.html' %}
{% load static %}
{% block title %}
    <title>InstallmentList|Collection</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <style>

        #UserTable_length {
            left: 20px;
            position: absolute;
        }

        #UserTable_filter {
            width: 50%;
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>

    <div class="ui right aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Installments List
                </div>
            </div>

            <div class="ui tab " data-tab="user">

                <div class="row" style="padding-left: 5px; padding-right: 5px">
                    <div class="wide">
                        <div class="ui internally grid">

                            <div class="sixteen left aligned wide column">
                                <div class="ui form">
                                    <form class="ui tiny form">

                                        <div class="field">


                                            <label><i class="calendar alternate icon"></i>Filter By Date Range</label>

                                            <div class="three fields">
                                                <div class="four wide mobile field" style="width: 50%">
                                                    <div class="ui calendar" id="rangestart">
                                                        <div class="ui input left icon">
                                                            <input class="" type="text" placeholder="Start Date"
                                                                   style="width:100%;"
                                                                   id="startDateF">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="four wide mobile field" style="width: 50%">
                                                    <div class="ui calendar" id="rangeend">
                                                        <div class="ui input left icon">
                                                            <input class="" type="text" placeholder="End Date"
                                                                   style="width:100%;"
                                                                   id="endDateF">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="eight wide field">
                                                    <div class="ui calendar" id="rangeend">
                                                        <div class="ui input left icon">
                                                            <button class="ui tiny active button" type="button"
                                                                    onclick="filterDetails()">
                                                                <i class="funnel dollar icon"></i>
                                                                Search
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>

                        <table class="ui unstackable small  sortable celled very nowrap very compact table"
                               id="UserTable"
                               style="margin-top: 5px;width: 100%">
                            <thead>
                            <tr>
                                <th>SaleID</th>
                                <th>Customer Name</th>
                                <th>EMI Amount(₹)</th>
                                <th>Installment Date</th>
                                <th>Paid(₹)</th>
                                <th>Is Paid?</th>
                                <th>Due(₹)</th>
                                <th>DueDate</th>
                                <th>Remark</th>
                                <th>Received On</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="ui label teal" data-variation="mini" data-inverted="" data-tooltip="Location"
         data-position="bottom center">
        <i class="map marked alternate icon"></i>

        <a class="detail"><span id="htmlLat">0.0</span>,<span id="htmlLong">0.0</span> </a>
    </div>
    <div class="ui modal" id="myModalUser">
        <i class="close icon"></i>
        <div class="header">
            Add Installment - <span class="ui text green" id="insSaleID"></span>
        </div>
        <div class="content">

            <form class="ui tiny form" id="addForm">{% csrf_token %}
                <div class="two required fields">
                    <div class="eight wide field">
                        <label>Customer Name</label>
                        <input type="text" readonly name="Name" placeholder="Customer Name" id="customerName">
                    </div>
                    <div class="eight wide field">
                        <label>Installment Amount</label>
                        <input type="number" readonly name="Name" placeholder="Installment Amount"
                               id="installmentAmount">
                    </div>

                </div>

                <div class="two required fields" id="showPaid">
                    <div class="eight wide field">
                        <label>Paid Amount</label>
                        <input type="number" placeholder="Paid Amount" id="paidAmount">
                    </div>
                    <div class="eight wide field">
                        <label>Due Amount</label>
                        <input type="number" placeholder="Due Amount" id="dueAmount">
                    </div>

                </div>
                <div class="one required fields" id="showReassign">
                    <div class=" sixteen wide field required" id="reassign_calendar">
                        <label>Next Due Date</label>
                        <input type="text" name="rdate" id="rdate" placeholder="Next Due Date">
                    </div>
                </div>
                <div class="one required fields">
                    <div class="sixteen wide field">
                        <label>Remark</label>
                        <input type="text" placeholder="Remark" id="remark">
                    </div>

                </div>

                <input type="hidden" id="ID">
            </form>

            <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
                <div class="ui cancel button">Cancel</div>
                <button id="saveBtn" class="ui right labeled icon button green" onclick="Save()">
                    Submit
                    <i class="checkmark icon"></i>
                </button>
                <button id="saveBtnLoad" style="display: none;" class="ui green double loading button">
                    Saving ....
                </button>
            </div>
        </div>
    </div>
    <div class="ui modal" id="myModalRemark">
        <i class="close icon"></i>
        <div class="header">
            Add Remark - <span class="ui text green" id="saleNo"></span>
        </div>
        <div class="scrolling content">
            <div class="ui threaded comments">
                <div id="remarkDiv">
                    {% comment %}
                <div class="comment"><a class="avatar"><img src=""></a><div class="content"><a class="author">Matt</a><div class="metadata"><span class="date">Today at 5:42PM</span></div><div class="text">How artistic!</div><div class="actions"><a class="reply"><div class="ui mini teal label"> <i class="thumbtack icon"></i> , </div></a></div></div></div>
{% endcomment %}
                </div>
                <form class="ui reply form" id="remarkForm">
                    <div class="field">
                        <input type="hidden" id="idRemark">
                        <textarea id="addRemark" placeholder="Add remark here." rows=""></textarea>
                    </div>
                    <button type="button" id="saveBtnR" class="ui right labeled icon button green"
                            onclick="saveRemark()">
                        Submit
                        <i class="checkmark icon"></i>
                    </button>
                    <button type="button" id="saveBtnLoadR" style="display: none;"
                            class="ui green double loading button">
                        Saving ....
                    </button>
                </form>
            </div>


        </div>
        <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
            <div class="ui cancel button">Close</div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>

        var today = new Date();
        $('#rangestart').calendar({
            initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
            monthFirst: false,
            type: 'date',
            endCalendar: $('#rangeend'),
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });
        $('#rangeend').calendar({
            initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
            monthFirst: false,
            type: 'date',
            startCalendar: $('#rangestart'),
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });

        $('#reassign_calendar')
            .calendar({
                    initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),
                    monthFirst: false,
                    type: 'date',
                    formatter: {
                        date: function (date, settings) {
                            if (!date) return '';
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var year = date.getFullYear();
                            return day + '/' + month + '/' + year;
                        }
                    },
                    popupOptions: {
                        observeChanges: false
                    }

                }
            );

        var userTab;


        // user Details

        userTab = $('#UserTable').DataTable({
            dom: 'Blfrtip',
            "scrollY": "350px",
            "scrollX": true,
            fixedColumns: {
                left: 1,
                right: 1
            },
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                }
            }
                {% comment %}      , {
                          extend: 'print',
                          exportOptions: {
                               columns: [1, 2, 3, 4, 5, 6, 7, 8]
                          }
                      }{% endcomment %}
            ],
            "columnDefs": [
                {"name": "saleID", "targets": 0, "orderable": true},
                {"name": "saleID.customerName", "targets": 1, "orderable": true},
                {"name": "emiAmount", "targets": 2, "orderable": true},
                {"name": "installmentDate", "targets": 3, "orderable": true},
                {"name": "paidAmount", "targets": 4, "orderable": true},
                {"name": "isPaid", "targets": 5, "orderable": true},
                {"name": "dueAmount", "targets": 6, "orderable": true},
                {"name": "NextDueDate", "targets": 7, "orderable": true},
                {"name": "remark", "targets": 8, "orderable": true},
                {"name": "paymentReceivedOn", "targets": 9, "orderable": true},
                {"name": "action", "targets": 10, "orderable": false},

            ],
            aaSorting: [[3, 'asc']],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'homeApp:InstallmentListByUserJson' %}"
        });


        function filterDetails() {
            var startDate = $('#startDateF').val();
            var endDate = $('#endDateF').val();
            userTab.ajax.url('{% url 'homeApp:InstallmentListByUserJson' %}?startDate=' + startDate + '&endDate=' + endDate).load();

        }

        function showImgModal(img) {
            $('#imgModal').modal('show')
            $("#imageLoad").attr({"src": "" + img});
        }

        function GetDetail(id) {
            $('#myModalUser').modal('show');
            $.ajax({
                type: 'get',
                url: '{% url "homeApp:get_installment_detail"%}?id=' + id,

                success: function (response) {
                    $('#ID').val(response.data['ID']);
                    $('#customerName').val(response.data['Name']);
                    $('#installmentAmount').val(response.data['Amount']);
                    $('#insSaleID').html(response.data['SaleID']);


                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });
        }

        function Save() {
            showLoading();

            var ID = $('#ID').val();
            var paidAmount = $('#paidAmount').val();
            var dueAmount = $('#dueAmount').val();
            var rdate = $('#rdate').val();
            var remark = $('#remark').val();
            var htmlLong = $('#htmlLong').html();
            var htmlLat = $('#htmlLat').html();
            if (ID === '' || paidAmount === '' || dueAmount === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: 'Please Enter Paid Amount and Due Amount.'
                    })
                ;
                hideLoading();
            } else {

                data = new FormData();
                data.append('ID', ID);
                data.append('paidAmount', paidAmount);
                data.append('dueAmount', dueAmount);
                data.append('rdate', rdate);
                data.append('remark', remark);
                data.append('htmlLat', htmlLat);
                data.append('htmlLong', htmlLong);


                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:add_installment_api" %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'Installment added successfully.'
                                });

                            hideLoading();

                            userTab.ajax.reload();
                            $('#addForm').trigger('reset');
                            $('#myModalUser').modal('toggle');
                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;
                            hideLoading();
                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                        hideLoading();
                    }

                });
            }

        }

        function GetRemark(id) {
            $('#myModalRemark').modal('show');
            $.ajax({
                type: 'get',
                url: '{% url "homeApp:get_installment_detail"%}?id=' + id,

                success: function (response) {
                    console.log(response);
                    $('#idRemark').val(response.data['ID']);
                    $('#saleNo').html(response.data['SaleID']);
                    $('#remarkDiv').html('');
                    var j;
                    for (j = 0; j < response.data['Remarks'].length; j++) {
                        $('#remarkDiv').append('<div class="comment"><a class="avatar"><img style="border-radius: 50%" src="' + response.data['Remarks'][j]['Photo'] + '"></a><div class="content"><a class="author">' + response.data['Remarks'][j]['AddedBy'] + '</a><div class="metadata"><span class="date">' + response.data['Remarks'][j]['AddedOn'] + '</span></div><div class="text">' + response.data['Remarks'][j]['Remark'] + '</div><div class="actions"><a class="reply"><div class="ui mini teal label"> <i class="thumbtack icon"></i> ' + response.data['Remarks'][j]['Latitude'] + ', ' + response.data['Remarks'][j]['Longitude'] + ' </div></a></div></div></div>');

                    }


                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });
        }

        var x = document.getElementById("demo");
        var options = {
            enableHighAccuracy: true,
            timeout: 10000,
            maximumAge: 0
        };

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            $('#lat').val(position.coords.latitude);
            $('#lng').val(position.coords.longitude);
            $('#htmlLat').html(position.coords.latitude);
            $('#htmlLong').html(position.coords.longitude);
            console.log(position)


        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "User denied the request for Geolocation."
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable."
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "The request to get user location timed out."
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred."
                    break;
            }
        }

        $(getLocation());
        navigator.permissions.query({name: 'geolocation'}).then(function (result) {
            console.log(result);
            if (result.state === 'granted') {
                $('#save1').prop('disabled', false);
                $('#save2').prop('disabled', false);
            } else {
                $('#save1').prop('disabled', true);
                $('#save2').prop('disabled', true);
            }
            // Don't do anything if the permission was denied.
        });

        function showLoadingR() {
            $('#saveBtnR').css('display', 'none');
            $('#saveBtnLoadR').css('display', '');

        }

        function hideLoadingR() {
            $('#saveBtnR').css('display', '');
            $('#saveBtnLoadR').css('display', 'none');

        }

        function saveRemark() {
            showLoadingR();
            var idRemark = $('#idRemark').val();
            var addRemark = $('#addRemark').val();
            var htmlLong = $('#htmlLong').html();
            var htmlLat = $('#htmlLat').html();


            if (idRemark === '' || addRemark === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: 'Please add remark.'
                    })
                ;
                hideLoadingR();
            } else {


                data = new FormData();
                data.append('idRemark', idRemark);
                data.append('addRemark', addRemark);
                data.append('htmlLat', htmlLat);
                data.append('htmlLong', htmlLong);

                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:add_installment_remark_api" %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'Installment remark added successfully.'
                                });

                            hideLoadingR();


                            userTab.ajax.reload();
                            $('#remarkForm').trigger('reset');
                            $('#myModalRemark').modal('toggle');
                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;
                            hideLoadingR();
                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                        hideLoadingR();
                    }

                });
            }


        }

    </script>

{% endblock %}