{% extends 'home/collection/indexCollection.html' %}
{% load static %}
{% block title %}
    <title>Sales Detail</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <style>


        #UserTable_length {
            left: 20px;
            position: absolute;
        }

        #UserTable_filter {
            width: 50%;
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>

    <div class="ui right aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Sales Detail
                </div>

            </div>
            <div class="ui tab  " data-tab="user" style="padding: 5px;">
                <h5 class="ui horizontal left aligned divider header">
                    <i class="left align icon"></i>
                    Customer Detail
                </h5>
                <div class="ui horizontal segment cards">
                    <div class="teal card" style="width: 100%; text-align: left">
                        <div class="image">
                            <img src="{{ instance.customerID.photo.medium.url }}">
                        </div>
                        <div class="content aligned left">
                            <div class="header">{{ instance.customerID.name|capfirst }}</div>
                            <div class="meta">
                                <a> Code: {{ instance.customerID.customerCode }}</a> <br>
                                <a style="color: teal">{{ instance.customerID.phoneNumber }}</a>
                            </div>
                            <div class="description">
                                {{ instance.customerID.address|capfirst }}
                                , {{ instance.customerID.district }}, {{ instance.customerID.landmark }}
                            </div>
                            <div class="meta">
                                <a> Added On: {{ instance.customerID.datetime }}
                                    by {{ instance.customerID.addedBy.name }}</a>
                            </div>

                        </div>

                    </div>
                    <div class="ui label teal" data-variation="mini" data-inverted="" data-tooltip="Location"
                         data-position="bottom center">
                        <i class="map marked alternate icon"></i>

                        <a class="detail"><span id="htmlLat">{{ instance.customerID.latitude }}</span>,<span
                                id="htmlLong">{{ instance.customerID.longitude }}</span> </a>
                    </div>

                </div>
                <h5 class="ui horizontal left aligned divider header">
                    <i class="left align icon"></i>
                    Sales Detail
                </h5>
                <div class="ui horizontal segment cards">
                    <div class="card teal" style="width: 100%; text-align: left">
                        <div class="image">
                            <img src="{{ instance.deliveryPhoto.medium.url }}">
                        </div>
                        <div class="content aligned left">
                            <div class="header">{{ instance.productName|capfirst }}  </div>
                            <div class="meta">
                                <span class="ui text green">  {{ instance.saleNo }}</span>
                            </div>
                            <div class="meta">
                                <button style="color: Green;margin: 2px;" class="ui mini button"> Total Amount:
                                    ₹ {{ instance.totalAmount }}</button>
                                <button style="color: Green;margin: 2px;" class="ui mini button"> Advance:
                                    ₹ {{ instance.advancePaid }}</button>
                                <button style="color: Green;margin: 2px;" class="ui mini button"> Paid Amount:
                                    ₹ {{ instance.amountPaid }}</button>
                                <button style="color: Green;margin: 2px;" class="ui mini button">
                                    Tenure: {{ instance.tenureInMonth }} Months
                                </button>
                                <button style="color: Green;margin: 2px;" class="ui mini button"> EMI Amount:
                                    ₹ {{ instance.emiAmount }}</button>

                            </div>
                            <div class="description">
                                Installment Start Date: {{ instance.installmentStartDate }}
                            </div>
                            <div class="description">
                                <span>Status:
                                    {% if instance.isClosed == False %}

                                        <div class="ui mini red label">
                                                  Open
                                                </div>
                                    {% else %}
                                        <div class="ui mini green label">
                                                  Closed
                                                </div>
                                    {% endif %}

                                </span>
                            </div>
                            <div class="meta">
                                <a> Added By: {{ instance.addedBy.name|capfirst }} On {{ instance.datetime }}</a> <br>
                                <a> Assigned To: {{ instance.assignedTo.name|capfirst }} </a>
                            </div>

                        </div>
                    </div>
                    <div class="ui label teal" data-variation="mini" data-inverted="" data-tooltip="Location"
                         data-position="bottom center">
                        <i class="map marked alternate icon"></i>

                        <a class="detail"><span id="htmlLat">{{ instance.latitude }}</span>,<span
                                id="htmlLong">{{ instance.longitude }}</span> </a>
                    </div>

                </div>
                <h5 class="ui horizontal left aligned divider header">
                    <i class="left align icon"></i>
                    Installment List
                </h5>
                <a class="ui primary label"> Advance Payment: Rs. {{ instance.advancePaid }}</a>

                <div class="ui segment" style="width: 100%; overflow-x: scroll">

                    <table class="ui unstackable small celled compact purple table">
                        <thead>
                        <tr>
                            <th>Slno.</th>
                            <th>Installment._Date</th>
                            <th>Paid_Amount</th>
                            <th>Due_Amount</th>
                            <th>Is_Paid?</th>
                            <th>Collected_On</th>
                            <th>Collected_By</th>
                            <th>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for installment in installments %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ installment.installmentDate|date:'d-m-Y' }}</td>
                                <td>{{ installment.paidAmount }}</td>
                                <td>{{ installment.dueAmount }}</td>
                                <td>{{ installment.isPaid }}</td>
                                <td>{{ installment.paymentReceivedOn|date:'d-m-Y h:i a'  }}</td>
                                <td>{{ installment.collectedBy }}</td>
                                <td>
                                    <button data-inverted="" data-tooltip="Add Remark" data-position="bottom center"
                                            data-variation="mini" style="font-size:10px;"
                                            onclick="GetRemark('{{ installment.pk }}')"
                                            class="ui circular facebook icon button blue">
                                        <i class="clipboard outline icon"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="ui label teal" data-variation="mini" data-inverted="" data-tooltip="Location"
         data-position="bottom center">
        <i class="map marked alternate icon"></i>

        <a class="detail"><span id="htmlLat">0.0</span>,<span id="htmlLong">0.0</span> </a>
    </div>
    <div class="ui modal" id="myModalRemark">
        <i class="close icon"></i>
        <div class="header">
            Add Remark - <span class="ui text green" id="saleNo"></span>
        </div>
        <div class="scrolling content">
            <div class="ui threaded comments">
                <div id="remarkDiv">
                    {% comment %}
                <div class="comment"><a class="avatar"><img src=""></a><div class="content"><a class="author">Matt</a><div class="metadata"><span class="date">Today at 5:42PM</span></div><div class="text">How artistic!</div><div class="actions"><a class="reply"><div class="ui mini teal label"> <i class="thumbtack icon"></i> , </div></a></div></div></div>
{% endcomment %}
                </div>
                <form class="ui reply form" id="remarkForm">
                    <div class="field">
                        <input type="hidden" id="idRemark">
                        <textarea id="addRemark" placeholder="Add remark here." rows=""></textarea>
                    </div>
                    <button type="button" id="saveBtnR" class="ui right labeled icon button green"
                            onclick="saveRemark()">
                        Submit
                        <i class="checkmark icon"></i>
                    </button>
                    <button type="button" id="saveBtnLoadR" style="display: none;"
                            class="ui green double loading button">
                        Saving ....
                    </button>
                </form>
            </div>


        </div>
        <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
            <div class="ui cancel button">Close</div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script>
        function GetRemark(id) {
            $('#myModalRemark').modal('show');
            $.ajax({
                type: 'get',
                url: '{% url "homeApp:get_installment_detail"%}?id=' + id,

                success: function (response) {
                    console.log(response);
                    $('#idRemark').val(response.data['ID']);
                    $('#saleNo').html(response.data['SaleID']);
                    $('#remarkDiv').html('');
                    var j;
                    for (j = 0; j < response.data['Remarks'].length; j++) {
                        $('#remarkDiv').append('<div class="comment"><a class="avatar"><img style="border-radius: 50%" src="' + response.data['Remarks'][j]['Photo'] + '"></a><div class="content"><a class="author">' + response.data['Remarks'][j]['AddedBy'] + '</a><div class="metadata"><span class="date">' + response.data['Remarks'][j]['AddedOn'] + '</span></div><div class="text">' + response.data['Remarks'][j]['Remark'] + '</div><div class="actions"><a class="reply"><div class="ui mini teal label"> <i class="thumbtack icon"></i> ' + response.data['Remarks'][j]['Latitude'] + ', ' + response.data['Remarks'][j]['Longitude'] + ' </div></a></div></div></div>');

                    }


                },
                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });
        }

        var x = document.getElementById("demo");
        var options = {
            enableHighAccuracy: true,
            timeout: 10000,
            maximumAge: 0
        };

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            $('#lat').val(position.coords.latitude);
            $('#lng').val(position.coords.longitude);
            $('#htmlLat').html(position.coords.latitude);
            $('#htmlLong').html(position.coords.longitude);
            console.log(position)


        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "User denied the request for Geolocation."
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable."
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "The request to get user location timed out."
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred."
                    break;
            }
        }

        $(getLocation());
        navigator.permissions.query({name: 'geolocation'}).then(function (result) {
            console.log(result);
            if (result.state === 'granted') {
                $('#save1').prop('disabled', false);
                $('#save2').prop('disabled', false);
            } else {
                $('#save1').prop('disabled', true);
                $('#save2').prop('disabled', true);
            }
            // Don't do anything if the permission was denied.
        });

        function showLoadingR() {
            $('#saveBtnR').css('display', 'none');
            $('#saveBtnLoadR').css('display', '');

        }

        function hideLoadingR() {
            $('#saveBtnR').css('display', '');
            $('#saveBtnLoadR').css('display', 'none');

        }

        function saveRemark() {
            showLoadingR();
            var idRemark = $('#idRemark').val();
            var addRemark = $('#addRemark').val();
            var htmlLong = $('#htmlLong').html();
            var htmlLat = $('#htmlLat').html();


            if (idRemark === '' || addRemark === '') {
                $('body')
                    .toast({
                        class: 'orange',
                        message: 'Please add remark.'
                    })
                ;
                hideLoadingR();
            } else {


                data = new FormData();
                data.append('idRemark', idRemark);
                data.append('addRemark', addRemark);
                data.append('htmlLat', htmlLat);
                data.append('htmlLong', htmlLong);

                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:add_installment_remark_api" %}',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: 'Installment remark added successfully.'
                                });

                            hideLoadingR();


                            $('#remarkForm').trigger('reset');
                            $('#myModalRemark').modal('toggle');
                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: 'An error occurred !'
                                })
                            ;
                            hideLoadingR();
                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                        hideLoadingR();
                    }

                });
            }


        }


    </script>

{% endblock %}